af-flextab af-rawhtml, [data-is="af-flextab"] af-rawhtml {
    cursor: pointer;
}

af-flextab .after, [data-is="af-flextab"] .after {
    content: '';
    height: 2px;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 0px;
}