af-collapsible {
    display: block;
}

af-collapsible .headeraction, [data-is="af-collapsible"] .headeraction {
    position: absolute;
    top: 3px;
    right: 3px;
}

af-collapsible ul, [data-is="af-collapsible"] ul {
    /*border-top: 1px solid #ddd;*/
    padding: 0;
    margin: 0;
}

af-collapsible li, [data-is="af-collapsible"] li {
    position: relative;
    list-style-type: none;
    transition: all .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0 rgba(0,0,0,0.12), 0 0px 0px 0px rgba(0,0,0,0.2);
}
af-collapsible li.is-active, [data-is="af-collapsible"] li.is-active {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

af-collapsible li > *, [data-is="af-collapsible"] li > * {
    padding-left: 10px;
    line-height: 43px;
}

af-collapsible .body, [data-is="af-collapsible"] .body {
    max-height: 0px;
    overflow: hidden;
    display: block;
    transition: all .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

af-collapsible .is-active > .body, [data-is="af-collapsible"] .is-active > .body {
    max-height: 800px;
    overflow-y: scroll;
}

/*af-collapsible .header, [data-is="af-collapsible"] .header {
    border-bottom: 1px solid #ddd;
}*/

af-collapsible .header:hover, [data-is="af-collapsible"] .header:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

af-collapsible .is-focused.header, [data-is="af-collapsible"] .is-focused.header {
    color: #3f51b5;
    border-right: solid 2px #3f51b5;
}
