af-timeline af-timepicker {
  margin-bottom: 1ex;
}
af-timeline {
  display: block;
}
af-timeline .menu input {
  margin-right: 20px;
  height: 18px;
}
af-timeline img {
  max-width: 80px;
  transition: all 0.2s;
}
af-timeline img:hover {
  max-width: 320px !important;
  position: absolute;
  z-index: 10;
  left: 0px;        
}
af-timeline .ad {
  background-color: red;
  border-color: red;
}
af-timeline .limit {
  background-color: green;
  border-color: green;
}
af-timeline .vis-item .vis-item-content {
  padding: 0px !important;
  min-height: 45px;
  width: 80px;
}
af-timeline .vis-item.vis-range {
  height: 26px;
}
